[Unit]
Description=simplesteer-frontend

[Service]
ExecStart=/usr/bin/python3 -m http.server 80
WorkingDirectory=/home/pi/autosteer/simplesteer/frontend/


[Install]
WantedBy=multi-user.target
